# Enforce Linux-style line endings in files covered by Prettier
* text=auto eol=lf

# Define which files should be encrypted
.env filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
.secret/** filter=git-crypt diff=git-crypt

# Prevent encrypting the .gitattributes file itself
.gitattributes !filter !diff
